
<section class="relative overflow-hidden">
  <div class="relative min-h-[520px] sm:min-h-[620px] lg:min-h-[720px]">
    
   
    <div class="absolute inset-0">
      <img
        src="./assets/images/image_hero_3840x2161.avif"
        alt="Reinigungsservice"
        class="animate-zoom h-full w-full object-cover object-center"
      />
      <div class="absolute inset-0 bg-gradient-to-r from-white via-white/80 to-transparent"></div>
    </div>

    
    <div class="relative z-10 mx-auto flex min-h-[520px] max-w-7xl items-center px-6 sm:min-h-[620px] lg:min-h-[720px]">
      
      <div class="max-w-xl">

   
        <p id="hero-subtitle"
          class="animate-fadeUp delay-100 mb-4 text-lg font-medium text-gray-700 sm:text-xl">
          Jakobsclean – Ihr Partner für Sauberkeit
        </p>
 
        <h1 id="hero-title"
          class="animate-fadeUp delay-200 mb-6  font-bold leading-tight text-[#0B54BE] sm:text-5xl lg:text-4xl">
          Glas- & Gebäudereinigung
        </h1>

 
        <p id="hero-text"
          class="animate-fadeUp delay-300 mb-8 max-w-lg text-base leading-8 text-gray-600 sm:text-lg">
          Professionelle Reinigung für Privat, Büro und Gewerbe –
          zuverlässig, gründlich und flexibel.
        </p>

 
        <a href="./contact.html"
          class="animate-fadeUp delay-500 inline-flex items-center gap-3 rounded bg-[#f4df1b] px-7 py-4 text-base font-semibold text-black shadow-md transition duration-300 hover:-translate-y-1 hover:bg-yellow-300">
          Jetzt Kontakt aufnehmen
          <i class="fa-solid fa-angle-right text-sm"></i>
        </a>

      </div>
    </div>
  </div>
</section>